<!-- Footer -->
<footer class="text-center text-lg-start text-white"style="background-color: #1c2331">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">


          <div class="container">
            <div class="row justify-content-center">
              <div class="col-6">
                      <h6 class="text-uppercase fw-bold">Contact Us</h6>
                      <hr class="mb-4 mt-0 d-inline-block" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                <form action="https://formsubmit.co/0608e0128edbaa8db5beca169fe20c45" method="POST">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name"  placeholder="enter your name" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Design Copyright
      <a class="text-danger" href="https://www.linkedin.com/in/pranayvmore" target="_blank"
         >Pranay</a
        >
    </div>
    <!-- Copyright -->
     <!-- Section: Social media -->
     <section
     class="d-flex justify-content-between p-4"
     style="background-color: #6351ce"
     >
  <!-- Left -->
  <div class="me-5">
  <span>Get connected with us on social networks:</span>
  </div>
  <!-- Left -->

  <!-- Right -->
  <div>
  <a href="" class="text-white me-4">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-google"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="" class="text-white me-4">
    <i class="fab fa-github"></i>
  </a>
  </div>
  <!-- Right -->
  </section>
  <!-- Section: Social media -->
</footer>

